<app-menu></app-menu>
<section>
    <h2>Conheça os médicos da D'Cor</h2>
</section>
<section>
    <div class="container">
        <img src="../../../assets/images/foto dra carolina.jpg" alt="">
        <h4>Dra. Carolina Braga Alves da Costa</h4>
        <p>CARDIOLOGISTA – CRM/GO 9954</p>
        <ul>
            <li>Formada pela Universidade Federal de Goiás em 2002.</li>
            <li>Residência Médica em Clínica Médica pelo Hospital das Clínicas da Universidade Federal de Goiás RQE 5500.</li>
            <li>Residência Médica em Cardiologia pelo Hospital das Clínicas da Universidade Federal de Goiás RQE 6079.</li>
        </ul>
    </div>
</section>
<app-footer></app-footer>