<footer class="footer mt-3">
    <div class="container">
        <div class="row">
            <div class="col-3">
                <div class="d-flex justify-content-center">
                    <img src="../../../assets/images/footer/logo.png" alt="#">
                </div>
            </div>
            <div class="col-9 d-flex justify-content-end">
                <div class="d-flex align-items-center ">
                    <div class=""><h6>Todos os direitos reservado a Portal Quest</h6></div>
                </div>
            </div>
        </div>
    </div>
</footer>

