<app-menu></app-menu>
<section class="container mt-3">
    <div class="d-flex justify-content-center">
        <h2>Clinica D'Cor</h2>
    </div>
    <div class="d-flex justify-content-center">
        <h4>Qualidade e tradição em Goiânia.</h4>
    </div>   
</section>
<section class="container">
    <div class="row"> 
        <div class="col-7 m-3">
            <app-card-banner></app-card-banner>
        </div>
        <div class="col-4 m-3 ">
            <div class="row d-flex justify-content-end">
                <div class="col-12">
                    <div class="card mt-1 mb-1">
                        <app-card-consulta></app-card-consulta>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 mt-1">
                    <div class="card">
                        <app-card-exames></app-card-exames>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="container">
    <div class="row">
        <div class="col-4">
            <div class="card">
                <div class="text-center">
                    <img src="" alt="#">
                    <h4>Planos e Convenios</h4>
                    <p>texto</p>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card">
                <div class="text-center">
                    <img src="" alt="#">
                    <h4>Resultado de Exames</h4>
                    <p>texto</p>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card">
                <div class="text-center">
                    <img src="" alt="#">
                    <h4>Titulo</h4>
                    <p>texto</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="container">
    <div class="card mt-3">
        <div class="card header">
            <div class="d-flex justify-content-center"><h3>A D'COR</h3></div>
        </div>
        <div class="card body">
            <div class="row">
                <div class="col-4">
                    <div class="d-flex justify-content-center"><h5>Completa clínica de exames:</h5></div>
                    <div class="d-flex justify-content-center"><ul>
                        <li>Eletrocardiograma</li>
						<li>Ecocardiograma</li>
						<li>Doppler vascular</li>
						<li>MAPA</li>
						<li>Holter</li>
						<li>Teste Ergométrico</li>
						<li>Espirometria</li>
                    </ul></div>    
                </div>
                <div class="col-4">
                    <div class="d-flex justify-content-center"><span>Muito mais que um exame</span></div>
                </div>
                <div class="col-4">
                    <div class="d-flex justify-content-center"><h5>Consultas em diversas especialidades:</h5></div>
                    <div class="d-flex justify-content-center"><ul>
                        <li>Cardiologia</li>
					    <li>Angiologia</li>
					    <li>Reumatologia</li>
					    <li>Pneumologia</li>
					    <li>Endocrinologia </li>
                    </ul></div>
                </div>
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>