<div class="container">
    <div class="row">
        <div class="col-6">
            <h1><img src="../../../assets/images/menu/logo.png" alt="D'Cor Cardiologia"></h1>
        </div>
        <div class="col-6">
            <div class="d-flex justify-content-end" style="margin-top: 5%;">
                <button class="btn btn-danger ">Resultado do seu exame!</button>
            </div>
            
        </div>
    </div>   
</div>
<nav class="navbar justify-content-center">
    <ul class="nav justify-content-center">
        <li><a class="nav-link" href="../../pages/home/home.component.html">Inicio</a></li>
        <li><a class="nav-link" href="../../pages/dcor/dcor.component.html">A D'Cor</a></li>
        <li><a class="nav-link" href="../../pages/exames-procedimentos/exames-procedimentos.component.html">Exames/Procedimentos</a></li>
        <li><a class="nav-link" href="../../pages/medicos/medicos.component.html">Médicos</a></li>
        <li><a class="nav-link" href="../../pages/agendamento-consultas/agendamento-consultas.component.html">Agendamento de Consultas</a></li>
        <li><a class="nav-link" href="../../pages/contato/contato.component.html">Contato</a></li>
        <li><a class="nav-link" href="https://webmail7.ultramail.com.br/" target="_blank" >Webmail</a></li>
    </ul>  
</nav>  