<div class="container">
    <div class="row">
        <div class="col-3">
            <div class="card">
                <div class="d-flex justify-content-center">
                    <h1><img src="../../../assets/images/menu/logo.png" alt="D'Cor Cardiologia"></h1>
                </div>
            </div>
        </div>
        <div class="col-9">
            <div class="d-flex justify-content-end" style="margin-top: 3%;">
                <button class="btn btn-danger ">Resultado do seu exame!</button>
            </div>
            
        </div>
    </div>   
</div>
<nav class="navbar justify-content-center">
    <ul class="nav justify-content-center">
        <li><a class="nav-link" routerLink="/home" routerLinkActive="selected">Inicio</a></li>
        <li><a class="nav-link" routerLink="/dcor" routerLinkActive="selected">A D'Cor</a></li>
        <li><a class="nav-link" routerLink="/exames" routerLinkActive="selected">Exames/Procedimentos</a></li>
        <li><a class="nav-link" routerLink="/medicos" routerLinkActive="selected">Médicos</a></li>
        <li><a class="nav-link" routerLink="/consultas" routerLinkActive="selected">Agendamento de Consultas</a></li>
        <li><a class="nav-link" routerLink="/contato" routerLinkActive="selected">Contato</a></li>
        <li><a class="nav-link" href="https://webmail7.ultramail.com.br/" target="_blank" >Webmail</a></li>
    </ul>  
</nav>  

